---
import Layout from '~/layouts/Layout.astro';
import StoreHeader from '~/components/widgets/StoreHeader.astro';
import Footer from '~/components/widgets/Footer.astro';

import { getFooterData } from '~/navigation';

import type { MetaData } from '~/types';
import type { Lang } from '~/utils/i18n';
import { getLangFromUrl } from '~/utils/i18n';

export interface Props {
  metadata?: MetaData;
  lang?: Lang;
}

const { metadata, lang = getLangFromUrl(Astro.url) } = Astro.props;
const footerData = getFooterData(lang);
---

<Layout metadata={metadata} lang={lang}>
  <slot name="header">
    <StoreHeader lang={lang} />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} lang={lang} />
  </slot>
</Layout>
